---
import SocialList from "@/components/SocialList.astro";
/* import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post"; */
import PageLayout from "@/layouts/Base.astro";

/* const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS); */
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello! I am Francis</h1>
		<p class="mb-4">
			I am a software engineer previously at Spherity where I co-developed CARO; a credentialing service for compliance in
			the American pharma market(DSCSA) utilizing technologies from Self-soverign identity and web3.
		</p>
		<p class="mb-4">
			In the past I worked at
			<span class="cactus-link">
				<a href="https://engage.so" rel="noopener noreferrer" target="_blank">
					Engage messaging
				</a>,
			</span>
			<span class="">
				<a class="cactus-link" href="https://mobnia.com" rel="noopener noreferrer" target="_blank">
					Mobnia
				</a>,
			</span>
			<span class="">
				<a
					class="cactus-link"
					href="https://mattedsgn.com"
					rel="noopener noreferrer"
					target="_blank"
				>
					Matte
				</a>
			</span>
			and others
		</p>

		<p class="mb-4">
			Outside building products and hacking on computers, I enjoy playing football, taking sunset
			pictures and driving

			<p>
				PS: I have done a 13 hour journey behind the steering and the best part is I did it with a
				stick shift
			</p>
		</p>
		<br />
		<SocialList />
	</section>
	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
